- var image = image
- var vid = video
- var ingredients = ingredients
- var instructions = instructions
- var link = source

html
    head
        style
            include style.css

body
    section(class='section')
        div(class='columns')
            div(class='column')
                figure(class='image is-128x128 mb-3')
                    img(src=image class='is-rounded')
                div(class='box')
                    label(class='label') Ingredients
                    ul
                        each val in ingredients
                            li= val
            div(class='column is-four-fifths')
                h1(class='title') #{title}
                div(class='subtitle')
                    span(class='tag mr-1') Origin: #{area}
                    span(class='tag') Category: #{category}
                if video
                    iframe(src=vid style={width: '100%', height: '500px'})
                div(class='box mt-4')
                    h2(class='subtitle') Let's make it
                    ul
                        each val, index in instructions
                            li= (index + 1) + ': ' + val
                if source
                    div(class='box')
                        a(href=link) #{link}
